@import url("https://fonts.googleapis.com/css?family=Open+Sans:700,600,300");
.frame {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
  margin-top: -200px;
  margin-left: -200px;
  border-radius: 2px;
  box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  background: -webkit-gradient(linear, right top, left bottom, from(#2d6120), to(#bee6b4));
  background: linear-gradient(to bottom left, #2d6120, #bee6b4);
  background-size: 125% 125%;
  color: #2d6120;
  font-family: 'Open Sans', Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.card {
  width: 320px;
  height: 200px;
  background: white;
  box-shadow: 4px 8px 16px 0 #1b3b14;
}
.card .left {
  position: absolute;
  left: 0;
  width: 190px;
  height: 300px;
  overflow: hidden;
}
.card .left .avatar {
  position: absolute;
  left: 60px;
  top: 32px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  cursor: pointer;
  background: #bee6b4;
}
.card .left .avatar .circle {
  box-sizing: border-box;
  position: absolute;
  border-radius: 50%;
  -webkit-transition: all 1.5s ease-in-out;
  transition: all 1.5s ease-in-out;
  border: 1px solid;
}
.card .left .avatar .circle:first-child {
  left: -3px;
  top: -3px;
  width: 76px;
  height: 76px;
  border-color: #2d6120 #2d6120 #2d6120 transparent;
}
.card .left .avatar .circle:nth-child(2) {
  left: -6px;
  top: -6px;
  width: 82px;
  height: 82px;
  border-color: #2d6120 transparent #2d6120 #2d6120;
}
.card .left .avatar:hover .circle:first-child {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}
.card .left .avatar:hover .circle:nth-child(2) {
  -webkit-transform: rotate(-360deg);
          transform: rotate(-360deg);
}
.card .left .avatar img {
  width: inherit;
  height: inherit;
  display: block;
  border-radius: inherit;
}
.card .left .info {
  position: absolute;
  text-align: center;
  top: 122px;
  width: 100%;
}
.card .left .info span {
  display: block;
}
.card .left .info span.small {
  top: 22px;
}
.card .left .buttons {
  position: absolute;
  text-align: center;
  bottom: 32px;
  width: 100%;
  height: 80px;
}
.card .left .buttons button {
  padding-top: 2px;
  text-transform: capitalize;
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  color: #2d6120;
  width: 120px;
  height: 26px;
  margin: 8px 0;
  background: white;
  border-radius: 15px;
  border: none;
  box-shadow: 0 0 0 1px #2d6120;
  cursor: pointer;
}
.card .left .buttons button:hover {
  background: #2d6120;
  color: white;
}
.card .right {
  position: absolute;
  right: 0;
  width: 130px;
  height: 300px;
}
.card .right .stats {
  position: relative;
  height: 100px;
  background: #cfecc7;
  box-shadow: 0 -1px white;
  cursor: pointer;
}
.card .right .stats:first-child {
  box-shadow: none;
}
.card .right .stats:hover {
  background: #bee6b4;
}
.card .right .stats span.big {
  top: 30px;
}
.card .right .stats span.small {
  top: 50px;
}

span {
  position: absolute;
  left: 0;
  width: 100%;
  text-transform: capitalize;
  text-align: center;
}
span.big {
  font-size: 18px;
  font-weight: 600;
}
span.small {
  font-size: 12px;
  font-weight: 300;
}